@model IList<IoC.Spring.Container.Models.Usuario>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Example of IoC Spring Container</h1>
</div>

<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Documento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
            <tr>
                <th scope="row">1</th>
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido</td>
                <td>@usuario.Documento</td>
            </tr>
            }
        </tbody>
    </table>
</div>